* {
    box-sizing: border-box;
}
body{
    background-image: url("../images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat ;
    font-family: Ubuntu, sans-serif;
}
a{
    text-decoration: none;

}
.header{
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
}
.header-nav{
    height: 58px;
}
.container{
    width: 1365px;
    margin: 0 auto;
}
.header-title{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 1px;
}
.header-title:hover{
    color: #3CB878;
    opacity: 0.7;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__box{
    height: 58px;
    display: flex;
    align-items: center;
}
.header-image{
    padding-right: 27px;
    width: 24px;
    height: 24px;
}
.calendar{
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
    margin-right: 27px;
}
.calendar:hover{
    background-image: url("../images/calendar-green.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
}
.mail{
    background-image: url("../images/mail.svg");
    background-repeat: no-repeat;
    margin-right: 27px;
}
.mail:hover{
    background: url("../images/mail-green.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
}
.compass{
    background: url("../images/compass.svg");
    background-repeat: no-repeat;
    margin-right: 54px;
}
.compass:hover{
    background: url("../images/compass-green.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.header-links{
    color: white;
    font-size: 14px;
    line-height: 14px;
}
.header-links-text{
    color: white;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding-right: 2px;
}
.header-links-text:hover{
    opacity: 0.7;
    cursor: pointer;
}
.header-links-text:hover .header-links{
    color: #3CB878;
}
.welcome::before{
    content: "";
    background: rgba(255, 255, 255, 0.9);;
    width: 1px;
    height: 19px;
    position: absolute;
    opacity: 0.5;
    right: 125px;
    bottom: -2px;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 53px;
}
.authorization-form{
    background-color: white;
    height: 586px;
    width: 444px;
    padding: 29px 60px 38px 60px;
}
.sign-up-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}
.authorization-form__sign-up{
    margin: 0;
    position: relative;
}
.authorization-form__sign-up::before{
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 132px;
    top: 4px;
}
.authorization-form__sign-up{
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    color: #434343;
    letter-spacing: 1px;
}
.authorization-form__log-in{
    color: #3CB878;
}
.authorization-form__log-in:hover {
    color: #01813F;
    text-decoration: underline;
}
.authorization-form__button-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.authorization-form__btn{
    width: 157px;
    height: 46px;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    padding-left: 50px;
    color: white;
    font-weight: 100;
    line-height: 16px;
    position: relative;
}
.facebook-btn{
    background-color: #305DB8;
}
.facebook-btn:hover{
    background-color: #022263;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.google-btn{
    background-color: #DF4A32;
}
.google-btn:hover{
    background-color: #AB1F09;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.authorization-form__btn:after{
    background: #0A162F;
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    opacity: 0.2;
    left: 48px;
    bottom: 8px;
}
.facebook-btn:before{
    background: url("../images/facebook.svg");
    content: "";
    position: absolute;
    width: 12px;
    height: 24px;
    left: 15px;
    bottom: 10px;
}
.google-btn:before{
    background: url("../images/google.png");
    content: '';
    position: absolute;
    width: 30px;
    height: 19px;
    left: 10px;
    display: block;
}
.authorization-form__line_or{
    color: #848484;
    position: relative;
    text-align: center;
}
.authorization-form__line_or:after{
    content: "";
    position: absolute;
    background: #F2F2F2;
    height: 1px;
    width: 150px;
    right: 0px;
    bottom: 8px;
}
.authorization-form__line_or:before {
    content: "";
    position: absolute;
    background: #F2F2F2;
    height: 1px;
    width: 150px;
    left: 0px;
    bottom: 8px;
}
.form{
    width: 324px;
    height: 46px;
    border-radius: 4px;
    margin-bottom: 13px;
    opacity: 0.4;
    border: #BEBEBE solid 1px;
    padding-left: 20px;
    font-family: Ubuntu,sans-serif;
    transition: all 0.3s;
}
.form:focus{
    box-shadow: 4px 4px 4px #BEBEBE;
    border: #BEBEBE 1px solid;
    transition: all 0.3s;
    color: black;
    opacity: 1;
    outline: none;
    font-weight: 100;
}
.form:focus::-webkit-input-placeholder{
    color: black;
}
.authorization-form__checkbox-row{
    height: 26px;
}
.checkbox{
    width: 22px;
    height: 22px;
    border-color: #848484;
    opacity: 0.2;
}
.checkbox:checked{
    position: absolute;
}
.checkbox:checked + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
.checkbox:checked + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: -15px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 2px;
}
.checkbox:checked + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 3px;
    top: -11px;
    width: 12px;
    height: 6px;
    border-radius: 1px;
    border-left: 4px solid #01813F;
    border-bottom: 4px solid #01813F;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox-text{
    position: absolute;
    left: 665px;
    font-weight: 100;
}
.checkbox-link-text{
    color: rgba(60, 184, 120, 0.8);
}
.checkbox-link-text:hover{
    color: #01813F;
    text-decoration: underline;
}
.create-account-btn{
    margin-top: 15px;
    background-color: #3CB878;
    width: 324px;
    height: 46px;
    border: transparent;
    color: white;
    border-radius: 5px;
}
.create-account-btn:hover{
    background-color: #01813F;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

